body {
  transform: scale(1);
  width: 520px;
}

.container {
  background: url("imgs/bg.png") #000144 left top no-repeat;
  background-size: 520px auto;
  width: 520px;
}

.head-box {
  margin: 0 0 80px 0;
}

.cfg-box {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 26px;
  box-shadow: 0 8px 32px 0 rgba(51, 51, 52, 0.5), inset 3px 3px 10px 0px rgba(255, 255, 255, 0.8);
}

.cfg-group {
  color: #f9b3c6;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  text-shadow: 1px 1px 1px #000;
}

.cfg-li {
  min-height: 36px;
  position: relative;
  list-style: none;
  margin-bottom: 10px;
  background: rgba(203, 196, 190, 0);
}

.cfg-line {
  color: #303030;
  line-height: 36px;
  padding-left: 20px;
  font-weight: bold;
  border-radius: 5px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(90deg, #fceae7 40%, #fbf3f1 65%, #ffd5e0);
}

.cfg-hint {
  font-size: 16px;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: -3px;
}

.cfg-status {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 160px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: #2d5285;
  font-weight: bold;
  border-radius: 0 16px 16px 0;

  &.status-off {
    color: #b74545;
  }
}

.cfg-desc {
  font-size: 16px;
  color: #454444;
  margin: 5px 0 5px 20px;
}

.badge {
  display: inline-block;
  vertical-align: top;
  height: 18px;
  padding: 0 6px;
  border-radius: 3px;
  background: #f4cd00;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}