@use 'svg-circle';

%text-overflow-mission {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:root {
    --high-color: #d73403;
    --medium-color: #ffa500;
    --low-color: #84A0DF;
    --avatar-main-color: #fff1eb;
    --avatar-similar-color1: #fff1eb;
    --avatar-similar-color2: #ace0f9;
}

.container {
    background: {
        image: url('../img/default_bg.jpg');
        color: #e9e9e9;
        position: center top;
        repeat: no-repeat;
        size: cover;
    }

    width: 650px;
}

li {
    list-style: none;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.box {
    margin: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(51, 51, 52, 0.5), inset 3px 3px 10px 0px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-weight: 700;
    position: relative;

    .time {
        position: absolute;
        right: 20px;
        top: -30px;
        font-size: 11px;
        color: #0e0e0e;
        text-shadow: 1px 1px 2px #fff;
    }

    &.fastFetch {
        font-size: 16px;

        .speed {
            line-height: 22px;
            height: 22px;
        }
    }

    &[data-boxInfo="进程负载"] {
        .title {
            border-bottom: #494d53 1px solid;
            padding: 5px 0;
        }



        .info {
            .title {
                margin-bottom: 10px;
            }

            .list {
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
                font-size: 17px;

                div {
                    border: 1px solid rgba(180, 180, 182, 0.6745098039);
                    border-radius: 5px;
                    padding: 5px;
                    color: #4f5255;
                    background-color: rgba(244, 244, 245, 0.5803921569);

                    span {
                        color: #46971d
                    }
                }
            }
        }

        .process {
            .title {
                margin: 10px 0;
            }

            .form {
                display: flex;
                flex-direction: column;
                font-size: 16px;

                .row {
                    display: flex;
                    flex: 1;
                }

                .header-row {
                    font-size: 17px;
                    color: #494d53;
                }

                .cell {
                    flex: 1;
                    padding: 5px;
                    text-align: left;
                    @extend %text-overflow-mission;

                    &:first-child {
                        flex: 2;
                    }
                }
            }
        }

    }

    &[data-boxInfo="redis"] {
        .title {
            display: flex;
            align-items: center;
            padding: 10px;
            padding-top: 5px;
            border-bottom: 2px solid #b4b4b6ac;

            .icon {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
        }

        .info {
            display: flex;
            gap: 20px;

            .redisBox {
                flex: 1;

                .data {
                    padding: 10px;
                    padding-bottom: 5px;

                    .item {
                        background-color: #f4f4f594;
                        margin: 5px;
                        padding: 5px;
                        font-size: 13px;
                        border-radius: 5px;
                        border: 1px solid #b4b4b6ac;
                        color: #4f5255;

                        .number {
                            color: #46971d
                        }
                    }
                }
            }
        }

        .keyspace {
            margin-top: 10px;

            .data {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                margin: 5px 10px;

                .row {
                    display: flex;
                    flex: 1;
                }

                .header-row {
                    font-size: 13px;
                    color: #494d53;
                }

                .cell {
                    flex: 1;
                    padding: 5px;
                    text-align: left;
                }
            }
        }
    }
}

.botInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 5px;

        .avatar {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 0 20px;
            // box-shadow: 0 0 12px 4px var(--avatar-main-color);

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                z-index: -1;
                margin: -5px;
                border-radius: 50%;
                // box-shadow: 0 0 12px 7px var(--avatar-main-color);
                // background: rgba(255, 255, 255, 0.45);
                box-shadow: -2px 2px 5px 1px rgba(8, 8, 8, 0.5);
                // backdrop-filter: blur(10px);
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            .onlineStatus {
                width: 15px;
                height: 15px;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .platform {
                line-height: 15px;
                font-size: 11px;
            }


        }

    }

    .header {
        font-size: 14px;
        width: 100%;
        color: #000;

        hr {
            margin: 5px 0px;
        }

        p {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;

            span {
                border-radius: 5px;
                box-shadow: -2px 2px 3px rgba(8, 8, 8, 0.5);
                padding: 0px 5px;
                margin-right: 8px;
                white-space: nowrap;

                img {
                    width: 14px;
                    height: 14px;
                    vertical-align: -2px
                }
            }

            &:nth-child(3) {
                span:nth-child(1) {
                    background: #d799de;
                }

                span:nth-child(2) {
                    background: #CBC7C8;
                }
            }

            --purple:#B4A0D8;
            --orange:#e0be92;
            --blue:#aad5e6;

            &:nth-child(4) {

                span:nth-child(1),
                span:nth-child(4) {
                    background: var(--purple);

                }

                span:nth-child(2),
                span:nth-child(5) {
                    background: var(--orange);
                }

                span:nth-child(3),
                span:nth-child(6) {
                    background: var(--blue);
                }
            }
        }

        table {
            background: #67abdb;
            border-radius: 5px;
            box-shadow: #000 1px 1px 3px;
            margin: auto;
            margin-top: 5px;

            td {
                line-height: 14px;

                &.dyeing {
                    // color: rgb(135, 206, 235);
                    // text-shadow: 1px 1px 1px #000;
                    padding-left: 5px;
                    text-align: center;
                }

                &.dyeing:not(:last-child) {
                    border-right: 2px solid #2f4f4f;
                    padding-right: 10px;
                }



                &:nth-child(odd):not(:first-child) {
                    padding-left: 10px
                }
            }

        }

        h1 {
            @extend %text-overflow-mission;
            display: inline-block;
            // background-image: linear-gradient(271.14deg,
            //         #001bff 0.98%,
            //         #00f0ff 25.79%,
            //         #fce84a 47.33%,
            //         #f34628 65.77%,
            //         #b275ff 91.4%);
            color: #000;
        }
    }
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(135deg, #bdc3c7 10%, #2c3e50);
    border-radius: 10px;
}


.memory {
    li {
        margin: 10px;
        display: flex;
    }

    hr {
        margin-bottom: 10px;
    }

    .progress {
        flex: 1;
        height: 25px;
        background: #c1c1c1;
        margin: 0 5px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #929292;

        .current {
            background: #90ee90;
            height: 25px;
            border-radius: inherit;
        }

        .word {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
        }
    }
}

.HardDisk_li {
    .mount {
        @extend %text-overflow-mission;
        min-width: 15px;
        max-width: 3em;
        line-height: 25px;
        text-align: left;
    }

    .percentage {
        min-width: 2em;
        line-height: 25px;
        text-align: center;
    }
}

.speed {
    width: 100%;
    display: flex;
    height: 25px;
    line-height: 25px;

    p {
        @extend %text-overflow-mission;

        &:first-child {
            flex-grow: 1;
            flex-shrink: 0;
            max-width: 50%;
            text-align: left;
            margin-right: 20px;
        }

        &:last-child {
            flex-grow: 1;
            flex-shrink: 1;
            margin-left: 20px;
            text-align: right;
        }

        img {
            // width: 100%;
            height: 100%;
            vertical-align: sub
        }
    }
}