{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" href="{{_res_path}}state/state.css" />
{{/block}}

{{block 'main'}}
{{each BotStatusList}}

<script>
    var chartData = JSON.parse('{{@chartData}}')
    var Config = JSON.parse('{{@Config}}')
    var _res_path = '{{_res_path}}'
</script>

<div class="box" data-boxInfo="Bot{{isBotIndex ? $index + 1 : ''}}信息">
    <div class="tb">
        <div class="avatar">
            <img src="{{$value.avatar}}" onerror="this.src= '{{$value.defaultAvatar}}'; this.onerror = null;">
        </div>
        <div class="header">
            <h1>{{$value.nickname}}</h1>
            <hr noshade>
            <p> Bot 已运行 {{$value.botRunTime}}</p>
            <table>
                <tr>
                    <td>收</td>
                    <td class="dyeing">{{$value.recv || 0}}</td>
                    <td>发</td>
                    <td class="dyeing">{{$value.sent || 0}}</td>
                    <td>图片</td>
                    <td class="dyeing">{{$value.screenshot || 0}}</td>
                </tr>
                <tr>
                    <td>好友</td>
                    <td class="dyeing">{{$value.friendQuantity}}</td>
                    <td>群</td>
                    <td class="dyeing">{{$value.groupQuantity}}</td>
                    <td>群员</td>
                    <td class="dyeing">{{$value.groupMemberQuantity}}</td>
                </tr>
            </table>
            <p>{{$value.onlineStatus}}({{$value.platform}}) | {{$value.botVersion}}</p>
        </div>
    </div>
</div>
{{/each}}
<div class="box" data-boxInfo="主硬件">
    <ul class="mainHardware">
        {{each visualData group i}}
        <li class="li">
            <div class="container-box" data-num="{{group.inner}}" id="box">
                <div class="circle-outer"></div>
                <!-- 添加svg -->
                <svg>
                    <!-- <defs>
                        <radialGradient id="gradient{{i}}" cx="50%" cy="50%" r="60%" fx="50%" fy="50%">
                            <stop offset="30%" stop-color="var({{group.color}}-dark)" />
                            <stop offset="100%" stop-color="var({{group.color}}-light)" />
                        </radialGradient>
                    </defs> -->
                    <circle id="circle" stroke="{{group.color}}" style="stroke-dashoffset:{{group.per}}"></circle>
                </svg>
            </div>
            <article>
                <summary>{{group.title}}</summary>
                {{each group.info info}}
                <p>{{info}}</p>
                {{/each}}
            </article>
        </li>
        {{/each}}
    </ul>
</div>

{{if HardDisk}}
<div class="box memory" data-boxInfo="磁盘">
    <ul>
        {{each HardDisk}}
        <li class="HardDisk_li">
            <div class="word mount">{{$value.mount}}</div>
            <div class="progress">
                <div class="word">{{$value.used}} / {{$value.size}}</div>
                <div class="current" style="width:{{$value.use}}%;background:{{$value.color}}"></div>
            </div>
            <div class="percentage">{{$value.use}}%</div>
        </li>
        {{/each}}
    </ul>
    {{if fsStats}}
    <div class="speed">
        <p>fsStats</p>
        <p>读 {{fsStats.rx_sec}}/s | 写 {{fsStats.wx_sec}}/s</p>
    </div>
    {{/if}}
</div>
{{/if}}

{{if chartData}}
<div class="box" data-boxInfo="图表">
    <div id="Chart" style="height: 300px"></div>
    <script src="{{_res_path}}state/js/echarts.min.js"></script>
    <script src="{{_res_path}}state/js/chart.js"></script>
</div>
{{/if}}

{{if network || psTest}}
<div class="box" data-boxInfo="网络">
    {{if network}} {{each network}}
    <div class="speed">
        <p>{{$value.first}}</p>
        <p>{{@$value.tail}}</p>
    </div>
    {{/each}} {{/if}} {{if network && psTest}}
    <hr style="margin: 5px 0" />
    {{/if}} {{if psTest}} {{each psTest}}
    <div class="speed">
        <p>{{$value.first}}</p>
        <p>{{@$value.tail}}</p>
    </div>
    {{/each}} {{/if}}
</div>
{{/if}}

{{if otherInfo}}
<div class="box" data-boxInfo="其他">
    {{each otherInfo}}
    <div class="speed">
        <p>{{$value.first}}</p>
        <p>{{@$value.tail}}</p>
    </div>
    {{/each}}
</div>
{{/if}}

{{@FastFetch}}

<script src="{{_res_path}}state/js/style.js"></script>

{{/block}}