$fonts: (
    ('FZB', './font/FZB.woff', './font/FZB.ttf'),
    ('NZBZ', './font/NZBZ.woff', './font/NZBZ.ttf'),
);

@each $font in $fonts {
    @font-face {
        font-family: nth($font, 1);
        src: url(nth($font, 2)) format('woff'), url(nth($font, 3)) format('truetype');
    }
}

.font-YS {
    font-family: "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.font-NZBZ {
    font-family: "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-size: 18px;
    color: #1e1f20;
    font-family: 'FZB', "汉仪文黑-65W", PingFangSC-Medium, "PingFang SC", sans-serif;
    transform: scale(1.4);
    transform-origin: 0 0;
    width: 600px;
}

.container {
    width: 600px;
    padding: 20px 15px 10px 15px;
    background-size: contain;
}


.copyright {
    font-size: 14px;
    text-align: center;
    color: #fff;
    position: relative;
    padding-left: 10px;
    text-shadow: 1px 1px 1px #000;
    margin: 10px 0;

    .version {
        color: #d3bc8e;
        display: inline-block;
        padding: 0 3px;
    }
}

.head-box {
    border-radius: 15px;
    padding: 10px 20px;
    position: relative;
    color: #fff;
    margin-top: 30px;

    .title {
        font-family: "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", PingFangSC-Medium, "PingFang SC", sans-serif;
        font-size: 36px;
        text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);

        .label {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .label {
        font-size: 16px;
        text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);

        span {
            color: #d3bc8e;
            padding: 0 2px;
        }
    }
}